@tailwind base;
@tailwind components;
@tailwind utilities;

.login-container {
  background-image: url("/images/MatchAndWin.webp");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.heart-reward-container {
  background-image: url("/images/MatchAndWin.webp");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.ready-to-play-container {
  background-image: url("/images/MatchAndWin.webp");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.dashboard-container {
  background-image: url("/images/MatchAndWin.webp");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.play-container {
  background-image: url("/images/MatchAndWin.webp");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 10px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  gap: 10px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #61dafb;
  cursor: pointer;
  border-radius: 5px;
}